<h2>Project Editor</h2>

<mat-divider></mat-divider>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" />
    <mat-error *ngIf="name.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [formControl]="description"></textarea>
    <mat-error *ngIf="description.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [formControl]="category" />
    <mat-error *ngIf="category.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year</mat-label>
    <input
      matInput
      class="clickable"
      [formControl]="year"
      [min]="minYear"
      [max]="maxYear"
      [matDatepicker]="picker"
      (click)="picker.open()"
      readonly
    />
    <mat-datepicker
      #picker
      startView="multi-year"
      (yearSelected)="yearSelected($event, picker)"
    ></mat-datepicker>
    <mat-error *ngIf="year.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field class="lang-chips">
    <mat-label>Languages</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let lang of langList"
        [selectable]="true"
        [removable]="true"
        (removed)="removeChip(lang)"
      >
        {{ lang }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        matInput
        placeholder="Add language..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addChip($event)"
      />
    </mat-chip-list>
    <mat-error> You must enter a value </mat-error>
  </mat-form-field>

  <div class="uploader">
    <button mat-stroked-button type="button" (click)="fileInput.click()">
      Upload image
    </button>
    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)"
    />
    <mat-error *ngIf="imageError">
      Invalid file (only JPG or PNG, max. {{ imageMaxSizeMB }} MB)</mat-error
    >
    <img
      [src]="imagePreview"
      alt="Image is required"
      class="clickable"
      (click)="fileInput.click()"
    />
  </div>

  <div class="actions">
    <button
      mat-flat-button
      type="button"
      color="warn"
      [mat-dialog-close]="undefined"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="
        !(
          (dialogData.editMode &&
            (image.dirty || (projectForm.valid && projectForm.dirty))) ||
          (!dialogData.editMode &&
            projectForm.valid &&
            projectForm.dirty &&
            image.dirty)
        )
      "
    >
      Save
    </button>
  </div>
</form>
