<h1>Project Editor</h1>

<mat-divider></mat-divider>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" />
    <mat-error *ngIf="name.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [formControl]="description" />
    <mat-error *ngIf="description.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput [formControl]="category" />
    <mat-error *ngIf="category.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year</mat-label>
    <input
      matInput
      class="clickable"
      [formControl]="year"
      [min]="minYear"
      [max]="maxYear"
      [matDatepicker]="picker"
      (click)="picker.open()"
      readonly
    />
    <mat-datepicker
      #picker
      startView="multi-year"
      (yearSelected)="yearSelected($event, picker)"
    ></mat-datepicker>
    <mat-error *ngIf="year.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Languages</mat-label>
    <input matInput [formControl]="langs" />
    <mat-error *ngIf="langs.hasError('required')">
      You must enter a value
    </mat-error>
  </mat-form-field>

  <div class="uploader">
    <button
      mat-flat-button
      type="button"
      color="accent"
      (click)="fileInput.click()"
    >
      Upload image
    </button>
    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)"
    />
    <mat-error *ngIf="imageError">
      Invalid file (only JPG or PNG, max. {{ imageMaxSizeMB }} MB)</mat-error
    >
    <img [src]="imagePreview" />
  </div>

  <div class="actions">
    <button
      mat-flat-button
      type="button"
      color="warn"
      [mat-dialog-close]="undefined"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="!((projectForm.valid && projectForm.dirty) || image.dirty)"
    >
      Save
    </button>
  </div>
</form>
