<mat-toolbar color="primary">
  <h1><mat-icon>folder_shared</mat-icon>First Backend NodeJS Client</h1>
</mat-toolbar>

<div class="container">
  <div class="title">
    <h2>Projects</h2>
    <button
      mat-flat-button
      color="primary"
      [disabled]="projects.length >= maxProjects"
      (click)="addProject()"
    >
      {{ btnMessage }}
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="projects">
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
    ></app-project-card>
  </div>
</div>

<mat-toolbar>
  <span>Jaime Pineda &copy; 2021</span>
</mat-toolbar>

<app-spinner></app-spinner>
